
{% extends 'base.html' %}

{% block content %}
{% load static %}

<section class="login py-5 border-top-1">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-5 col-md-8 align-item-center">
				<div class="border">
					<p class="bg-gray p-4">
						We've emailed you instructions for setting your password, if an account exists with the email you entered.
						You should receive them shortly. <br><br>
						
						If you don't receive an email, please make sure you've entered the address you registered with,
						and check your spam folder.
					</p>                    
				</div>
			</div>
		</div>
	</div>
</section>


{% endblock  %}

